<div class="image-content">
  <img [src]="vehicle().image || noImage" [alt]="'Imagem do carro: ' + vehicle().model" fetchpriority="high" />
</div>
<div class="description">
  <h3 [title]="vehicle().id + ' - ' + vehicle().model">
    #{{ vehicle().id }} <span> - </span>
    <span>{{ vehicle().model | uppercase }}</span>
  </h3>
  <div class="details">
    <p>
      <span>Fabricante:</span> {{ (brand$ | async)?.name ?? "Não Definida" }}
    </p>
    <p><span>Fabricação:</span> {{ vehicle().year }}</p>
    <p><span>Placa:</span> {{ vehicle().licensePlate | uppercase }}</p>
    <p><span>Renavam:</span> {{ vehicle().renavam | uppercase }}</p>
    <p><span>Chassi:</span> {{ vehicle().chassi | uppercase }}</p>
    <p><span>Categoria:</span> {{ (category$ | async)?.description }}</p>
  </div>
</div>

<div class="actions">
  <a (click)="deleteVehicle()" data-testid="delete-btn">
    <fa-icon [icon]="['fas', 'trash']"></fa-icon>
  </a>
  <a [routerLink]="editRoute()" replaceUrl="true">
    <fa-icon [icon]="['fas', 'pen']"></fa-icon>
  </a>
</div>