:host {
  footer {
    position: sticky;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    box-shadow: 0px 0px 8px var(--light-black-01);
    height: 40px;

    span {
      font-size: 12px;
      font-weight: 500;
    }
  }
}
