<div class="drop-zone" dragFile (outputFiles)="onFileDrop($event)">
  @if (image$ | async; as image) {
  <div class="item-image">
    <img [src]="image" alt="Imagem do produto" (click)="upLoadImg()" [style.viewTransitionName]="viewTransitionName" />
    <fa-icon [icon]="['fas', 'trash']" (click)="removeImage()"></fa-icon>
  </div>
  } @else {
  <div class="no-image">
    <fa-icon [icon]="['fas', 'cloud-arrow-up']"></fa-icon>

    <p class="normal-xs">Arraste ou solte uma image aqui</p>

    <button class="secondary-btn" (click)="upLoadImg()">
      <span class="normal-xs">ou selecione por aqui...</span>
    </button>
  </div>
  }
</div>