@use "buttons";

:host {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    box-shadow: 0px 0px 8px var(--light-black-01);
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--white-01);
    z-index: 10;
    transition: all 200ms ease-in-out;

    img {
      height: 50px;
    }

    h2 {
      font-size: 20px;
      font-weight: 500;
    }

    a {
      text-decoration: none;
    }

    .page-tittle {
      font-weight: 700;
      font-size: 16px;
      opacity: 0;
      transition: all 200ms ease-in-out;

      &.showText {
        opacity: 1;
      }

      span {
        color: var(--primary);
      }
    }

    .actions {
      button {
        display: flex;
        align-items: start;
        gap: 10px;
      }
    }
  }

  @media (max-width: 600px) {
    h2 {
      display: none;
    }

    button {
      padding: 5px 10px !important;
    }
  }
}
