@use "animations";

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-black-02);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--white-01);
    border-bottom-color: var(--primary);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
}
