@use 'animations';

:host {
  --index0: calc(var(--index) - 1);
  --reverse-index: calc(var(--numcards) - var(--index0));
  --reverse-index0: calc(var(--reverse-index) - 1);
  position: sticky;
  top: min(10vh, 120px);
  padding-top: calc(var(--index) * 15px);
  height: 650px;
  width: 100%;

  .card__content {
    display: grid;
    grid-template-columns: 1fr 250px;
    align-items: center;
    width: clamp(450px, 80%, 100%);
    gap: 10px;
    box-shadow: 0px 0px 8px var(--light-black-01);
    padding: 10px;
    border-radius: 10px;
    background-color: var(--white-01);
    height: 100%;
    width: 100%;

    transform-origin: 50% 0%;
    will-change: transform;

    --start-range: calc(var(--index0) / var(--numcards) * 100%);
    --end-range: calc((var(--index)) / var(--numcards) * 100%);

    animation: linear scale forwards;
    animation-timeline: --cards-element-scrolls-in-body;
    animation-range: exit-crossing var(--start-range) exit-crossing var(--end-range);

    .image-content {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    .description {
      width: 100%;
      overflow: hidden;

      h2 {
        font-size: 14px;
        margin-bottom: 8px;
        width: calc(100% - 45px);
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        span {
          font-size: 20px;

          &:last-of-type {
            color: var(--primary);
          }
        }
      }

      .details {
        display: flex;
        flex-direction: column;
        gap: 2px;

        p {
          line-height: 18px;
          span {
            font-size: 16px;
            font-weight: 600;
          }
        }
      }
    }

    .actions {
      display: flex;
      align-items: center;
      gap: 5px;
      position: absolute;
      top: 15px;
      right: 15px;

      a {
        text-decoration: none;
        color: var(--black-01);

        &:first-of-type fa-icon {
          color: var(--red-01);
        }
      }

      fa-icon {
        font-size: 16px;
        cursor: pointer;

        ::ng-deep svg {
          transition: all 200ms ease-in-out;
        }

        &:hover ::ng-deep svg {
          transform: translateY(-1px) scale(1.03);
        }
      }
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;

      .description h3 {
        width: 100%;
      }
    }
  }
}

@keyframes scale {
  to {
    transform: scale(calc(1.1 - calc(0.1 * var(--reverse-index))));
  }
}
