@use "buttons";

:host {
  display: flex;
  align-items: center;
  flex-direction: column;

  .header {
    width: 100%;
    margin: 25px auto auto 25px;
    transition: all 200ms ease-in-out;
    display: flex;
    align-items: flex-start;
    max-width: 300px;

    &.showText {
      z-index: 0;
      transform: translate3d(calc(50% - 120px), -92px, 38px);
      font-size: 16px;
      opacity: 0;
    }

    h1 {
      font-weight: 700;
      font-size: 24px;

      span {
        color: var(--primary);
      }
    }

    margin-bottom: 25px;
  }

  .no-data {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    img {
      width: 80%;
      max-height: 65vh;
    }

    h2 {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 10px;
    }

    a {
      text-decoration: none;

      button {
        display: flex;
        align-items: start;
        gap: 10px;
      }
    }
  }

  .vehicles-list {
    padding-bottom: calc(var(--numcards) * 5px);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--numcards), 650px);
    gap: 4vw;
    view-timeline-name: --cards-element-scrolls-in-body;
  }

  .section-2 {
    margin: 20px auto;
    font-size: 16px;
    padding: 25px;
    max-width: 1000px;
  }

  @media (max-width: 600px) {
    padding: 15px;

    .no-data img {
      width: 100%;
    }
  }
}
