@if (vehicles$ | async; as vehicles) {
@if (vehicles.length <= 0) { <div class="no-data">
  <img src="/assets/svgs/no-data.svg" alt="Nenhuma dado encontrado" />
  <h2>Nenhum veiculo encontrado :(</h2>
  <a [routerLink]="newVehicleRoute" replaceUrl="true">
    <button class="primary-btn animated">
      <span>Adicionar veiculo</span><fa-icon [icon]="['fas', 'car']"></fa-icon>
    </button>
  </a>
  </div>
  } @else {
  <div class="vehicles-list">
    <info-list-vehicle-header />
    @for (vehicle of vehicles; track $index) {
    <info-vehicle [vehicle]="vehicle" />
    }
  </div>
  <section class="section-2">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae modi nulla necessitatibus quasi, illo cum
      deleniti dolores non quo, tenetur consequatur exercitationem hic sequi commodi recusandae adipisci aspernatur,
      vitae porro.
      Voluptate, molestias. Pariatur officia maiores sed officiis earum, illum laborum suscipit dolore adipisci
      reiciendis vero itaque architecto assumenda veniam est repudiandae? Iure sequi ipsa similique laborum, ex ipsum.
      Repellat, exercitationem.
      Laudantium maiores illum corporis enim. Repellat autem quibusdam accusantium ipsum vitae sapiente soluta aut cum
      culpa suscipit eos aperiam nisi molestias nobis, in quia neque aspernatur. Impedit earum repellendus aut.
      Necessitatibus dicta similique, exercitationem voluptates, quia numquam beatae dolorem distinctio suscipit libero,
      accusamus illum quas excepturi eveniet? Aliquid fugiat nam, cum illo possimus commodi dolor? Neque debitis velit
      reprehenderit mollitia?
      Tempore architecto exercitationem odit iusto adipisci vero sequi necessitatibus sed alias dolorum recusandae
      asperiores illum, quos, nulla reprehenderit veniam. Vel accusantium sed amet ipsam quibusdam sint sit eligendi
      veniam iure.
      Dolor, tempora ducimus omnis id tenetur velit ut magni laudantium reprehenderit rem, nemo alias cum esse
      dignissimos! Voluptatibus saepe tenetur temporibus perspiciatis deleniti! Blanditiis quaerat molestias possimus
      soluta fuga tempore.
      Iste cupiditate minima neque dolor quis deleniti eius officia? Consequatur reprehenderit nihil voluptas assumenda
      voluptates nesciunt magni doloremque, tempora repudiandae quis? Quis esse modi eos iure quibusdam doloremque,
      aperiam laudantium.
      Unde, esse. Totam eos ipsa enim delectus qui fugit corporis modi dolorum reiciendis distinctio ab itaque,
      recusandae inventore ullam corrupti veritatis. Rem earum beatae vel cumque tempore sed sapiente illum!
    </p>
    <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae modi nulla necessitatibus quasi, illo cum
      deleniti dolores non quo, tenetur consequatur exercitationem hic sequi commodi recusandae adipisci aspernatur,
      vitae porro.
      Voluptate, molestias. Pariatur officia maiores sed officiis earum, illum laborum suscipit dolore adipisci
      reiciendis vero itaque architecto assumenda veniam est repudiandae? Iure sequi ipsa similique laborum, ex ipsum.
      Repellat, exercitationem.
      Laudantium maiores illum corporis enim. Repellat autem quibusdam accusantium ipsum vitae sapiente soluta aut cum
      culpa suscipit eos aperiam nisi molestias nobis, in quia neque aspernatur. Impedit earum repellendus aut.
      Necessitatibus dicta similique, exercitationem voluptates, quia numquam beatae dolorem distinctio suscipit libero,
      accusamus illum quas excepturi eveniet? Aliquid fugiat nam, cum illo possimus commodi dolor? Neque debitis velit
      reprehenderit mollitia?
      Tempore architecto exercitationem odit iusto adipisci vero sequi necessitatibus sed alias dolorum recusandae
      asperiores illum, quos, nulla reprehenderit veniam. Vel accusantium sed amet ipsam quibusdam sint sit eligendi
      veniam iure.
      Dolor, tempora ducimus omnis id tenetur velit ut magni laudantium reprehenderit rem, nemo alias cum esse
      dignissimos! Voluptatibus saepe tenetur temporibus perspiciatis deleniti! Blanditiis quaerat molestias possimus
      soluta fuga tempore.
      Iste cupiditate minima neque dolor quis deleniti eius officia? Consequatur reprehenderit nihil voluptas assumenda
      voluptates nesciunt magni doloremque, tempora repudiandae quis? Quis esse modi eos iure quibusdam doloremque,
      aperiam laudantium.
      Unde, esse. Totam eos ipsa enim delectus qui fugit corporis modi dolorum reiciendis distinctio ab itaque,
      recusandae inventore ullam corrupti veritatis. Rem earum beatae vel cumque tempore sed sapiente illum!</p>
    <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae modi nulla necessitatibus quasi, illo cum
      deleniti dolores non quo, tenetur consequatur exercitationem hic sequi commodi recusandae adipisci aspernatur,
      vitae porro.
      Voluptate, molestias. Pariatur officia maiores sed officiis earum, illum laborum suscipit dolore adipisci
      reiciendis vero itaque architecto assumenda veniam est repudiandae? Iure sequi ipsa similique laborum, ex ipsum.
      Repellat, exercitationem.
      Laudantium maiores illum corporis enim. Repellat autem quibusdam accusantium ipsum vitae sapiente soluta aut cum
      culpa suscipit eos aperiam nisi molestias nobis, in quia neque aspernatur. Impedit earum repellendus aut.
      Necessitatibus dicta similique, exercitationem voluptates, quia numquam beatae dolorem distinctio suscipit libero,
      accusamus illum quas excepturi eveniet? Aliquid fugiat nam, cum illo possimus commodi dolor? Neque debitis velit
      reprehenderit mollitia?
      Tempore architecto exercitationem odit iusto adipisci vero sequi necessitatibus sed alias dolorum recusandae
      asperiores illum, quos, nulla reprehenderit veniam. Vel accusantium sed amet ipsam quibusdam sint sit eligendi
      veniam iure.
      Dolor, tempora ducimus omnis id tenetur velit ut magni laudantium reprehenderit rem, nemo alias cum esse
      dignissimos! Voluptatibus saepe tenetur temporibus perspiciatis deleniti! Blanditiis quaerat molestias possimus
      soluta fuga tempore.
      Iste cupiditate minima neque dolor quis deleniti eius officia? Consequatur reprehenderit nihil voluptas assumenda
      voluptates nesciunt magni doloremque, tempora repudiandae quis? Quis esse modi eos iure quibusdam doloremque,
      aperiam laudantium.
      Unde, esse. Totam eos ipsa enim delectus qui fugit corporis modi dolorum reiciendis distinctio ab itaque,
      recusandae inventore ullam corrupti veritatis. Rem earum beatae vel cumque tempore sed sapiente illum! Laudantium
      maiores illum corporis enim. Repellat autem quibusdam accusantium ipsum vitae sapiente soluta aut cum
      culpa suscipit eos aperiam nisi molestias nobis, in quia neque aspernatur. Impedit earum repellendus aut.
      Necessitatibus dicta similique, exercitationem voluptates, quia numquam beatae dolorem distinctio suscipit libero,
      accusamus illum quas excepturi eveniet? Aliquid fugiat nam, cum illo possimus commodi dolor? Neque debitis velit
      reprehenderit mollitia?
      Tempore architecto exercitationem odit iusto adipisci vero sequi necessitatibus sed alias dolorum recusandae
      asperiores illum, quos, nulla reprehenderit veniam. Vel accusantium sed amet ipsam quibusdam sint sit eligendi
      veniam iure.
      Dolor, tempora ducimus omnis id tenetur velit ut magni laudantium reprehenderit rem, nemo alias cum esse
      dignissimos! Voluptatibus saepe tenetur temporibus perspiciatis deleniti! Blanditiis quaerat molestias possimus
      soluta fuga tempore.
      Iste cupiditate minima neque dolor quis deleniti eius officia? Consequatur reprehenderit nihil voluptas assumenda
      voluptates nesciunt magni doloremque, tempora repudiandae quis? Quis esse modi eos iure quibusdam doloremque,
      aperiam laudantium.
      Unde, esse. Totam eos ipsa enim delectus qui fugit corporis modi dolorum reiciendis distinctio ab itaque,
      recusandae inventore ullam corrupti veritatis. Rem earum beatae vel cumque tempore sed sapiente illum!</p>
  </section>
  }
  }