:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 25px;

  .header {
    width: 100%;
    margin: 25px auto;
    max-width: 1290px;

    h1 {
      font-weight: 700;
      font-size: 24px;

      span {
        color: var(--primary);
      }
    }

    margin-bottom: 25px;
  }

  .vehicles-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1350px;
  }

  @media (max-width: 1350px) {
    .vehicles-list {
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: 600px) {
    padding: 15px;
  }
}
