@use "buttons";

:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 25px;

  .header {
    width: 100%;
    margin: 25px auto;
    max-width: 1290px;

    h1 {
      font-weight: 700;
      font-size: 24px;

      span {
        color: var(--primary);
      }
    }

    margin-bottom: 25px;
  }

  .no-data {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    img {
      width: 80%;
      max-height: 65vh;
    }

    h3 {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 10px;
    }

    a {
      text-decoration: none;

      button {
        display: flex;
        align-items: start;
        gap: 10px;
      }
    }
  }

  .vehicles-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1350px;
  }

  @media (max-width: 1350px) {
    .vehicles-list {
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: 600px) {
    padding: 15px;

    .no-data img {
      width: 100%;
    }
  }
}
