@use 'buttons';

:host {
  width: 100%;
  padding: 5px;
  margin-bottom: 50px;

  .header {
    width: 100%;
    transition: all 200ms ease-in-out;
    display: flex;
    align-items: flex-start;
    height: 500px;
    width: 100%;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    position: relative;
    background: url(/assets/webps/header.webp) no-repeat 50% 50% fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

    p {
      color: var(--white-02);
      font-size: 36px;
      text-shadow: 1px 1px 2px var(--yellow-01);
    }

    a {
      text-decoration: none;
    }

    h1 {
      font-weight: 400;
      font-size: 20px;
      border-bottom: 2px solid var(--primary);
      line-height: 40px;
      color: var(--primary);
    }

    button {
      display: flex;
      align-items: start;
      gap: 10px;
    }
  }
}
