@use "variables";
@use "reset";

html,
body,
main {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  transition: all 200ms ease-in-out;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.toast-message {
  font-family: "Roboto", sans-serif !important;
}
