<div class="image-field">
  <info-image-field formControlName="image" />
</div>

<div class="field">
  <label for="id">Id:</label>
  <input type="text" name="id" id="id" placeholder="Index do veículo" formControlName="id" />
</div>

<div class="field">
  <label for="licensePlate">Placa:</label>
  <input type="text" name="licensePlate" id="licensePlate" placeholder="Ex: ABC1D45" formControlName="licensePlate" />
  <div formError="licensePlate" class="error"></div>
</div>

<div class="field">
  <label for="chassi">Chassi:</label>
  <input type="text" name="chassi" id="chassi" placeholder="Ex: 368Y1BDkFlv2r5578" formControlName="chassi" />
  <div formError="chassi" class="error"></div>
</div>

<div class="field">
  <label for="renavam">Renavam:</label>
  <input type="text" name="renavam" id="renavam" placeholder="Ex: 52286977888" formControlName="renavam" />
  <div formError="renavam" class="error"></div>
</div>

<div class="field">
  <label for="model">Modelo:</label>
  <input type="text" name="model" id="model" placeholder="Ex: Fusca 1600" formControlName="model" />
  <div formError="model" class="error"></div>
</div>

<div class="field">
  <label for="year">Ano de lançamento:</label>
  <input type="number" name="year" id="year" placeholder="Ex: 2024" formControlName="year" />
  <div formError="year" class="error"></div>
</div>

<div class="field">
  <label for="carBrand">Marca:</label>
  <select name="carBrand" id="carBrand" formControlName="carBrand">
    <option disabled selected [value]="null">Selecione uma marca:</option>
    @for (carBrand of brands$ | async; track $index) {
    <option [value]="carBrand.id">{{ carBrand.name }}</option>
    }
  </select>
  <div formError="carBrand" class="error"></div>
</div>

<div class="field">
  <label for="category">Categoria:</label>
  <select name="category" id="category" formControlName="category">
    <option disabled selected [value]="null">Selecione uma Categoria:</option>
    @for (category of categories$ | async; track $index) {
    <option [value]="category.id">{{ category.description }}</option>
    }
  </select>
  <div formError="category" class="error"></div>
</div>